## Bài 1: reversed list
Hãy viết một chương trình để đảo ngược các phần tử trong list

In [5]:
aList = [100, 200, 300, 400, 500]
aList.reverse()
print(aList)

[500, 400, 300, 200, 100]

**Output:**

In [ ]:
[500, 400, 300, 200, 100]

In [ ]:
aList = [100, 200, 300, 400, 500]
# code below this line

# code above this line

## Bài 2: concatenation
Hãy tạo ra một list mới bằng cách cộng các phần tử tương ứng của list cũ theo index tương ứng

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

**Output:**

In [ ]:
['My', 'name', 'is', 'Kelly']

In [73]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
# code below this line
list3 =[]
for i in range(len(list1)):
    for j in range(len(list2)):
        if i == j:
            list3 = (list1[i]+list2[j])
            print(list3)
# code above this line

My
name
is
Kelly

## Bài 3: squared list
Cho sẵn một list chứa các số tự nhiên. Bình phương các phần tử trong list và lưu vào một list mới.

In [89]:
aList = [1, 2, 3, 4, 5, 6, 7]

**Output**

In [102]:
[1, 4, 9, 16, 25, 36, 49]
# code below this line
for i in range(len (aList)):
    if i == len(aList): print((aList[i])**2)
        
    else :   
        print((aList[i])**2,end=",")
# code above this line

1,4,9,16,25,36,49,

## Bài 4: concatenation 2
Tạo ra một list mới từ 2 list ban đầu theo thứ tự như sau:

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

**Output**

In [ ]:
['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [6]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
# code below this line
list3 = []
for i in range (len(list1)):
    for j in range(len(list2)):
        list3.append(list1[i] + list2[j])
print(list3)

# code above this line

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

## Bài 5: print list
Cho 2 list có cùng số phần tử với nhau. Hãy in các thành phần trong 2 list theo format dưới đây:

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

**Output**

In [ ]:
10 400
20 300
30 200
40 100

In [39]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
# code below this line
list2.reverse()
for i in range (len(list1)):
    print(list1[i],list2[i])

        

# code above this line

10 400
20 300
30 200
40 100

## Bài 6: remove empty
Hãy xóa tất cả empty string trong list đã cho.

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

**Output**

In [ ]:
["Mike", "Emma", "Kelly", "Brad"]

In [48]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
# code below this line
while "" in list1:
    list1.remove("")
print(list1)
# code above this line

['Mike', 'Emma', 'Kelly', 'Brad']

## Bài 7: list replacement
Hãy tìm và thay thế số 20 **đầu tiên** trong list thành 200.

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]

**Output**

In [ ]:
[5, 10, 15, 200, 25, 50, 20]

In [74]:
list1 = [5, 10, 15, 20, 25, 50, 20]
# code below this line
for i in range (len(list1)):
    if list1[i]==20:
        list1[i] =200
print(list1)
# code above this line

[5, 10, 15, 200, 25, 50, 200]

## Bài 8: list removement
Hãy xóa bỏ **tất cả** số 20 ra khỏi list

In [75]:
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]

**Output:**

In [ ]:
[5, 15, 25, 50]

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]
# code below this line

# code above this line

## Bài 9: unpack tuple

In [ ]:
aTuple = (10, 20, 30, 40)

In [79]:
aTuple = (10, 20, 30, 40)
# Your code
print(aTuple[0]) # should print 10
print(aTuple[1]) # should print 20
print(aTuple[2]) # should print 30
print(aTuple[3]) # should print 40

10
20
30
40

## Bài 10: swap tuple
Hãy thay đổi giá trị của 2 tuple cho nhau

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)

**Output**

In [ ]:
tuple1 = (99, 88)
tuple2 = (11, 22)

In [86]:
tuple1 = (11, 22)
tuple2 = (99, 88)
# code below this line
tuple3=[]
tuple3 = tuple1
tuple1 =tuple2
tuple2 = tuple3
print(tuple1)
print(tuple2)

# code above this line

(99, 88)
(11, 22)

## Bài 11: count occurrence
Hãy đếm tổng số lần xuất hiện của 50 trong tuple

In [ ]:
tuple1 = (50, 10, 60, 70, 50)

**Output**

In [ ]:
2

In [108]:
tuple1 = (50, 10, 60, 70, 50)
# code below this line
count = 0
for i in range (len(tuple1)):
    if tuple1[i] ==50:
        count +=1
print(count)
# code above this line

2

In [1]:
#cach 2
tuple1 = (50, 10, 60, 70, 50)
count = tuple1.count(50)
print(count)

2

## Bài 12: is it the same?
Hãy kiểm tra xem các phần tử trong tuple có giống nhau hay không.

In [ ]:
tuple1 = (45, 45, 45, 45)

**Output**

In [ ]:
True

In [9]:
tuple1 = (45, 45, 45, 45)
# code below this line

print(tuple1.count(tuple1[0]) == len(tuple1))

# code above this line

True